.header{
    border-bottom: 1px solid rgba(252, 246, 234, 0.46);
}
.formcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    padding:30px;
}
.formbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}
.formimg{
    height: 100%;
    width: 50%;
    border-radius: 20px;
}
.formimg img{
    height: 100%;
    width: 100%;
    border-radius: 0 40px 0 40px;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}
#name,#phn,#pople,#msg{
    margin: 10px;
}
#msg{
    height: 130px;
}
#number{
    width:70%;
}