.contactcontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}
.map{
    background-color: rgba(83, 84, 85, 0.584);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 30px;
    width: 50%;
    height: 60%;
}
.map img{
    width: 100%;
    height: 100%;
}
.contdetaits{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 50%;
    height: 60%;
}
.contdetaits h1,.contdetaits p{
    font-family: "Sansation", sans-serif;
    color: rgb(252, 246, 234);
}
.msgform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}
.msgforminput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.msgform h2{
  font-family: "Sansation", sans-serif;
  color: rgba(255, 180, 3);  
}
.msgforminput input{
    margin: 10px;
    width: 40%;
}
#contmsg{
    height: 150px;
}
#name,#email{
    height: 50px;
}
/*====================Mobile View=====================*/
@media (max-width: 1040px) {
  .contactcontent{
    flex-direction: column;
  }
  .contdetaits{
    width: 95%;
  }
  .map{
    width: 98%;
    height: 70%;
  }
}