.gallery img{
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}
.galimg div{
    width: 300px;
    height: 200px;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 5px;
}
.gallery{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galimg{
    width: 70%;
    columns: 300px;
    
}
.gallery img:hover{
    transform: scale(1.3);
}
