.togglemenu input{
    display: none;
}
.togglemenumaindiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.togglemenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 82px;   
}

.togglemenu label{
    font-family: "Sansation", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(252, 246, 234);
    text-align: center;
    border-bottom: 3px solid transparent; 
    transition: color 0.8s ease;
    cursor: pointer;
}


/* Active underline */
#toggleindian:checked + label,
#togglecont:checked + label,
#togglechinese:checked + label {
    border-bottom: 3px solid rgba(255, 180, 3);
}