.togglemenumaindiv input{
    display: none;
}
.togglemenumaindiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.togglemenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 82px;   
}
.togglemenu label{
    font-family: "Sansation", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(252, 246, 234);
    text-align: center;
    border-bottom: 3px solid transparent; 
    transition: color 0.8s ease;
    cursor: pointer;
}

#toggleindian:checked ~ .togglemenu label[for="toggleindian"],
#togglecont:checked ~ .togglemenu label[for="togglecont"],
#togglechinese:checked ~ .togglemenu label[for="togglechinese"] {
    border-bottom: 3px solid rgba(255, 180, 3);
}

.menuimg{
    position: relative;
    width: 100%;
    height: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.indianmenu,.contmenu,.chinesemenu{
    position: absolute;
    background-color: aqua;
    height: 95%;
    width:80%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    pointer-events: none;
}
#toggleindian:checked ~ .menuimg .indianmenu,
#togglecont:checked ~ .menuimg .contmenu,
#togglechinese:checked ~ .menuimg .chinesemenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.menuimg img{
    height: 100%;
    width:100%;
}

/*====================Mobile View=====================*/
@media (max-width: 1040px) {
   .togglemenu label{
    font-size: 18px;
   } 
   .togglemenu{
    width: 95%;
   }
}